<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>20AF49E035A9181B471254EAC01DADB0FB67EFD5</string>
				<key>dateExpires</key>
				<string>2020-09-21</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>20AF49E035A9181B471254EAC01DADB0FB67EFD5</string>
						<key>dateExpires</key>
						<string>2020-09-21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PVKX7A2J39</string>
						<key>name</key>
						<string>Mack Sheng</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>20AF49E035A9181B471254EAC01DADB0FB67EFD5</string>
						<key>dateExpires</key>
						<string>2020-09-21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PVKX7A2J39</string>
						<key>name</key>
						<string>Mack Sheng</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PVKX7A2J39.com.example.exampleRealtime</string>
				<key>com.apple.developer.team-identifier</key>
				<string>PVKX7A2J39</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>PVKX7A2J39.com.example.exampleRealtime</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>268177ad-bb93-4f7f-a3a1-df549c39c203</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PVKX7A2J39</string>
				<key>name</key>
				<string>Mack Sheng</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
